.radio-group {
	display: flex;
	column-gap: 16px;
	row-gap: 8px;
	width: 100%;
	flex-wrap: wrap;
}

.radio {
	display: flex;
	gap: 4px;
}

.radio-column {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.radio-line {
	display: flex;
	gap: 8px;
}

.radio-second-line {
	padding-left: 24px;
}

.radio p {
	color: #404040;
	/* Desktop/H5 R 16 */
	/* font-family: Signika; */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}
