.button {
	font-family: 'Signika', sans-serif;
	align-items: center;
	background-color: transparent;
	border-radius: 25px;
	display: flex;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	gap: 10px;
	height: 26px;
	justify-content: center;
	line-height: 24px;
	/* 150% */
	padding: 12px 24px;
	width: 100%;
	text-wrap: nowrap;
}

.button--outline {
	border: 1px solid #ea1b23;
	color: #ea1b23;
}

.button--link {
	border: none;
	gap: 8px;
	padding: 0px;
}

.button--condensed {
	/* 150% */
	/* Desktop/H5 R 16 */
	font-family: 'Signika', sans-serif;
	align-items: center;
	background: #ea1b23;
	border-radius: 25px;
	border: none;
	color: #fff;
	display: flex;
	flex-shrink: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	gap: 10px;
	height: 48px;
	justify-content: center;
	line-height: 24px;
	padding: 16px 42px;
	text-align: center;
}

.button--outline.button--error {
	border: 1px solid #8e24aa;
	color: #8e24aa;
}

.button--condensed.button--error {
	background: #8e24aa;
}

.button--disabled {
	opacity: 0.5 !important;
}
