.button {
	/* font-family: Signika; */
	align-items: center;
	background-color: transparent;
	border-radius: 25px;
	display: flex;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	gap: 10px;
	height: 26px;
	justify-content: center;
	line-height: 24px;
	/* 150% */
	padding: 12px 24px;
}

.button--outline {
	border: 1px solid #ea1b23;
	color: #ea1b23;
}

.button--link {
	border: none;
	gap: 8px;
	padding: 0px;
}

.button--disabled {
	opacity: 0 !important;
}
