.warning {
	/* 150% */
	/* Desktop/B1 R 14 */
	/* font-family: Signika; */
	align-items: center;
	background: rgba(235, 187, 247, 0.4);
	border-radius: 4px;
	color: #8e24aa;
	display: flex;
	flex-shrink: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	gap: 16px;
	height: 58px;
	justify-content: center;
	line-height: 21px;
	width: 340px;
}
