.warning {
	/* 150% */
	/* Desktop/B1 R 14 */
	font-family: 'Signika', sans-serif;
	align-items: center;
	border-radius: 4px;
	display: flex;
	flex-shrink: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	gap: 8px;
	height: 58px;
	justify-content: center;
	line-height: 21px;
	padding: 0px 20px;
	width: 340px;
}

.purple {
	background: #ebbbf766;
	color: #8e24aa;
}

.green {
	background: #e9fbfa;
	color: #404040;
}
