@media screen and (max-width: 1226px) {
	.body .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px 16px 40px 16px;
	}
	.body .container h1,
	.body .container h2 {
		font-size: 28px;
		line-height: 42px;
	}
	.column-size.reverse {
		display: none;
	}
	.body .container-promo {
		height: 184px;
		width: 228px;
	}
	.container-promo.mobile {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.container-promo .background {
		height: 184px;
		width: 168px;
	}
	.container-promo .image {
		height: 160px;
		width: 228px;
	}
}
