@media (max-width: 768px) {
	.logos-container {
		margin-left: 0;
	}
	.logo-container {
		width: 118.095px;
		height: 50px;
	}
	.fleury-header .image-fleury-logo {
		width: 88.571px;
		height: 25.145px;
	}
	.horizontal-divisor {
		height: 20px;
	}
	.logos-container {
		gap: 46.9px;
	}
	.image-outubro-rosa-logo {
		width: 25px;
		height: 25px;
	}
	.buttons-container {
		display: none;
	}
	.menu-container {
		align-items: center;
		display: flex;
		padding-right: 16px;
	}
	.menu-mobile {
		align-items: flex-start;
		background: #f5f5f5;
		border-radius: 0px 0px 12px 12px;
		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
		display: flex;
		flex-direction: column;
		gap: 16px;
		justify-content: center;
		left: 0px;
		padding: 24px;
		position: fixed;
		top: -110px;
		width: 100%;
		z-index: 1;
		transition: all 0.5s ease-in-out;
	}
	.menu-mobile.opened {
		top: 70px;
	}
	.menu-mobile .title {
		color: #757575;
		/* Mobile/B2 R 12 */
		/* font-family: Signika; */
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		/* 150% */
	}
	.menu-mobile .menu-item,
	.menu-mobile .menu-item-red {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		gap: 8px;
		width: 100%;
	}
	.menu-mobile .menu-item p,
	.menu-mobile .menu-item-red p {
		color: #757575;
		/* Mobile/B1 R 14 */
		/* font-family: Signika; */
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 21px;
		/* 150% */
	}
	.separator {
		background-color: #e64a19;
		height: 1px;
		width: 71px;
	}
	.menu-mobile .menu-item-red p {
		color: #e64a19;
	}
	.rotate {
		transform: rotate(90deg);
	}
}
